---
import BaseLayout from '../layouts/BaseLayout.astro'
import CTA from '../components/CTA.astro'
import Testimonial from '../components/Testimonial.astro'
import Company from '../components/Company.astro'
---

<BaseLayout current="referencje">
  <div class="relative isolate overflow-hidden bg-gray-900 py-24 sm:py-32">
    <img
      src="https://images.unsplash.com/photo-1521737604893-d14cc237f11d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&crop=focalpoint&fp-y=.8&w=2830&h=1500&q=80&blend=111827&sat=-100&exp=15&blend-mode=multiply"
      alt=""
      class="absolute inset-0 -z-10 size-full object-cover object-right md:object-center"
    />
    <div
      class="hidden sm:absolute sm:-top-10 sm:right-1/2 sm:-z-10 sm:mr-10 sm:block sm:transform-gpu sm:blur-3xl"
      aria-hidden="true"
    >
      <div
        class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-20"
        style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
      >
      </div>
    </div>
    <div
      class="absolute -top-52 left-1/2 -z-10 -translate-x-1/2 transform-gpu blur-3xl sm:top-[-28rem] sm:ml-16 sm:translate-x-0 sm:transform-gpu"
      aria-hidden="true"
    >
      <div
        class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-20"
        style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
      >
      </div>
    </div>
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:mx-0">
        <h2
          class="text-5xl font-semibold tracking-tight text-white sm:text-7xl"
        >
          Zaufali nam
        </h2>
        <p
          class="mt-8 text-pretty text-lg font-medium text-gray-300 sm:text-xl/8"
        >
          Oferujemy kompleksowe usługi sprzątające oraz pielęgnacyjne,
          dostosowane do Twoich potrzeb.
        </p>
      </div>
    </div>
  </div>

  <div class="bg-white py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <h2 class="text-center text-lg/8 font-semibold text-gray-900">
        Zaufały nam firmy oraz instytucje z Polski
      </h2>
      <div
        class="mx-auto mt-10 grid max-w-lg grid-cols-4 items-center gap-x-8 gap-y-10 sm:max-w-xl sm:grid-cols-6 sm:gap-x-10 lg:mx-0 lg:max-w-none lg:grid-cols-5"
      >
        <a href="https://www.mazdom.pl">
          <svg
            class="hidden lg:block"
            width="83"
            height="40"
            viewBox="0 0 83 40"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            ><path
              d="M2.67517 39.8882H0V30.8843H4.06229L7.27002 36.5071L10.5397 30.8843H14.54V39.8882H11.8773V33.4728L8.16174 39.8882H6.36591L2.67517 33.4728V39.8882Z"
              fill="#019096"></path><path
              d="M20.4618 36.2222H23.9172L22.1709 33.0393L20.4618 36.2222ZM18.5421 39.8882H15.5449L20.4618 30.8843H23.9668L28.7969 39.8882H25.775L24.908 38.3896H19.4214L18.5421 39.8882Z"
              fill="#019096"></path><path
              d="M39.7386 39.8882H29.1494V37.6837L35.5649 33.064H29.3847V30.8843H39.59V33.064L33.2117 37.6837H39.7386V39.8882Z"
              fill="#019096"></path><path
              d="M48.1903 33.1012H43.8803V37.6961H48.5371C49.1192 37.6961 49.5527 37.5846 49.8128 37.3369C50.0852 37.1016 50.2215 36.73 50.2215 36.2222V34.6369C50.2215 34.1168 50.0605 33.7205 49.7261 33.4728C49.4041 33.2251 48.8839 33.1012 48.1903 33.1012ZM49.0325 30.8843C50.4073 30.8843 51.4104 31.1196 52.0297 31.6026C52.6613 32.0856 52.971 32.8535 52.971 33.9062V37.0025C52.971 38.0057 52.7233 38.7364 52.2155 39.1946C51.7201 39.6529 50.9274 39.8882 49.8375 39.8882H41.1309V30.8843H49.0325Z"
              fill="#019096"></path><path
              d="M58.8955 39.9998C57.8428 39.9998 57.0749 39.9503 56.5795 39.8512C56.0965 39.7645 55.7002 39.6035 55.3905 39.3682C55.0437 39.1081 54.796 38.7737 54.6474 38.3526C54.4864 37.9439 54.4121 37.3866 54.4121 36.693V34.2408C54.4121 33.4853 54.4864 32.8908 54.6474 32.4449C54.796 32.0115 55.0437 31.6647 55.3905 31.4046C55.7002 31.1817 56.0965 31.0207 56.6043 30.9216C57.0997 30.8225 57.8675 30.7729 58.8831 30.7729H62.1156C63.1436 30.7729 63.9114 30.8225 64.4068 30.9216C64.9146 31.0207 65.3233 31.1817 65.6206 31.4046C65.955 31.6523 66.2027 31.9991 66.3513 32.4449C66.5123 32.8784 66.5866 33.4481 66.5866 34.1293V36.6435C66.5866 37.337 66.5123 37.8943 66.3513 38.3278C66.2027 38.7613 65.955 39.1081 65.6206 39.3682C65.3109 39.6035 64.9146 39.7645 64.4192 39.8512C63.9238 39.9503 63.1559 39.9998 62.1156 39.9998H58.8955ZM59.6386 37.7457H61.3849C62.3633 37.7457 63.0073 37.6219 63.317 37.3866C63.639 37.1389 63.8 36.6806 63.8 36.0242V34.7485C63.8 34.0921 63.639 33.6339 63.317 33.3862C63.0073 33.1509 62.3633 33.027 61.3849 33.027H59.6262C58.6354 33.027 57.979 33.1509 57.6818 33.3986C57.3721 33.6339 57.2111 34.1045 57.2111 34.7981V36.049C57.2111 36.693 57.3721 37.1389 57.6941 37.3866C58.0285 37.6219 58.6726 37.7457 59.6386 37.7457Z"
              fill="#019096"></path><path
              d="M71.0131 39.8882H68.3379V30.8843H72.4002L75.6079 36.5071L78.8776 30.8843H82.8779V39.8882H80.2151V33.4728L76.4996 39.8882H74.7038L71.0131 33.4728V39.8882Z"
              fill="#019096"></path><path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M46.984 25.6352L44.7603 25.6294V7.20487L47.6578 5.0505L50.4529 6.64989L47.8492 5.671L47.8615 16.633H54.8818C56.2566 16.633 57.2564 16.8737 57.8814 17.3556C58.5063 17.8374 58.8186 18.6044 58.8186 19.6566V22.7529C58.8186 23.7527 58.5687 24.4833 58.0688 24.9451C57.5689 25.4067 56.7748 25.6374 55.6862 25.6374H46.984V25.6352ZM33.7473 16.6252L33.7195 9.55003L36.394 7.92634V25.6294H35.5896V25.6298H32.9289V19.2135L29.2097 25.6298H27.4137L23.7248 19.2135V25.6298H21.0518V16.6252H25.1095L28.3208 22.2494L31.5863 16.6252H33.7473ZM40.9034 25.6294V10.1132L37.978 8.1909V2.591L41.9342 0L46.6276 2.71136L42.2592 0.799035V25.6294H40.9034ZM54.0413 18.8522H49.7295V23.4483H54.3859C54.9705 23.4483 55.3978 23.3295 55.6679 23.0914C55.9381 22.8536 56.0731 22.4807 56.0731 21.9728V20.3883C56.0731 19.8601 55.9089 19.472 55.5803 19.2242C55.2518 18.9764 54.7387 18.8522 54.0413 18.8522Z"
              fill="#0A3B49"></path></svg
          >
        </a>
        <a href="https://www.panmaterac.pl">
          <img
            src="https://www.panmaterac.pl/themes/jms_storm/assets/img/logo-pm.png"
          />
        </a>
        <a href="https://www.profbud.pl">
          <img
            src="https://cdn.prod.website-files.com/65eaf35de780a8ff6acfb21f/668556ad82622e9b32cbe47c_profbud272x140.png"
            loading="lazy"
            alt=""
          />
        </a>
        <a
          href="https://www.owg.pl/op-inne/wspolnota_mieszkaniowa_zakatek_cybisa_przy_ul_xawerego_dunikowskiego_6a_w_warszawie_9,222,5227119,522711903"
        >
          <Company company='WSPÓLNOTA MIESZKANIOWA "ZAKĄTEK CYBISA"' />
        </a>
      </div>
    </div>
  </div>
  <div class="bg-white py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl text-center">
        <h2 class="text-base/7 font-semibold text-indigo-600">Świadectwa</h2>
        <p
          class="mt-2 text-balance text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl"
        >
          Pracowaliśmy z setkami fantastycznych ludzi!
        </p>
      </div>
      <div
        class="mx-auto mt-16 flow-root max-w-2xl sm:mt-20 lg:mx-0 lg:max-w-none"
      >
        <div class="-mt-8 sm:-mx-4 sm:columns-2 sm:text-[0] lg:columns-3">
          <Testimonial
            text="Dom w którym jest czysto, schludnie, pięknie pachnie jest największym luksusem. A ja nie musiałam nic robić!"
            person="Anna Pytel"
          />
          <Testimonial
            text="Usługi ArturAna to dla mnie gwarancja jakości i profesjonalizmu. Polecam!"
            person="Konrad Pagacz"
          />
          <Testimonial
            text="Firma ArturAna jest zawsze profesjonalna i punktualna!"
            person="Marlena Kwiatkowska"
          />
        </div>
      </div>
    </div>

    <CTA />
  </div>
</BaseLayout>
-->

