---
import { Image } from 'astro:assets'
import logoImage from '../assets/arturana.svg'
---

<footer class="bg-white">
  <div class="mx-auto max-w-7xl px-6 pb-8 pt-16 sm:pt-24 lg:px-8 lg:pt-32">
    <div class="xl:grid xl:grid-cols-3 xl:gap-8">
      <div class="space-y-8">
        <Image src={logoImage} class="h-9" alt="Logo ArturAna" />
        <p class="text-balance text-sm/6 text-gray-600">
          Tworzymy czyste i komfortowe przestrzenie, dbając o Twój spokój.
        </p>
      </div>
      <div class="mt-16 grid grid-cols-2 gap-8 xl:col-span-2 xl:mt-0">
        <div class="md:grid md:grid-cols-2 md:gap-8">
          <div>
            <h3 class="text-sm/6 font-semibold text-gray-900">Kontakt</h3>
            <ul role="list" class="mt-6 space-y-4">
              <li>
                <div class="text-sm/6 text-gray-600">
                  E-mail: <a href="mailto:arturana2021@gmail.com">
                    arturana2021@gmail.com</a
                  >
                </div>
              </li>
              <li>
                <div class="text-sm/6 text-gray-600">Tel.: +48 730 327 714</div>
              </li>
            </ul>
          </div>
          <div class="mt-10 md:mt-0">
            <h3 class="text-sm/6 font-semibold text-gray-900">Menu</h3>
            <ul role="list" class="mt-6 space-y-4">
              <li>
                <a
                  href="../"
                  class="text-sm/6 text-gray-600 hover:text-gray-900"
                  >O firmie</a
                >
              </li>
              <li>
                <a
                  href="../oferta"
                  class="text-sm/6 text-gray-600 hover:text-gray-900">Oferta</a
                >
              </li>
              <li>
                <a
                  href="../referencje"
                  class="text-sm/6 text-gray-600 hover:text-gray-900"
                  >Zaufali nam</a
                >
              </li>
              <!-- <li> -->
              <!--   <a -->
              <!--     href="../partnerzy" -->
              <!--     class="text-sm/6 text-gray-600 hover:text-gray-900" -->
              <!--     >Partnerzy</a -->
              <!--   > -->
              <!-- </li> -->
              <li>
                <a
                  href="../kontakt"
                  class="text-sm/6 text-gray-600 hover:text-gray-900">Kontakt</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-16 border-t border-gray-900/10 pt-8 sm:mt-20 lg:mt-24">
      <p class="text-sm/6 text-gray-600">
        &copy; 2024 ArturAna. Wszelkie prawa zastrzeżone.
      </p>
    </div>
  </div>
</footer>
