---
import { Image } from 'astro:assets'
import logoImage from '../assets/arturana.svg'
import logoPL from '../assets/PL.png'

const { current } = Astro.props

const chosenNavStyle =
  'inline-flex items-center border-b-2 border-indigo-500 px-1 pt-1 text-sm font-medium text-gray-900'
const otherNavStyle =
  'inline-flex items-center border-b-2 border-transparent px-1 pt-1 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700'
---

<nav class="bg-white shadow">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 justify-between">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <!-- Mobile menu button -->
        <button
          type="button"
          class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500"
          aria-controls="mobile-menu"
          aria-expanded="false"
        >
          <span class="absolute -inset-0.5"></span>
          <span class="sr-only">Open main menu</span>
          <!--
            Icon when menu is closed.

            Menu open: "hidden", Menu closed: "block"
          -->
          <svg
            class="block size-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
            data-slot="icon"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
          </svg>
          <!--
            Icon when menu is open.

            Menu open: "block", Menu closed: "hidden"
          -->
          <svg
            class="hidden size-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
            data-slot="icon"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18 18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
      <div
        class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start"
      >
        <div class="flex shrink-0 items-center">
          <a href="./">
            <Image
              src={logoImage}
              alt="A logo of the company"
              class="h-8 w-auto"
            />
          </a>
        </div>
        <div class="hidden sm:ml-6 sm:flex sm:space-x-8">
          <a
            href="../o-firmie"
            class={current === 'o-firmie' ? chosenNavStyle : otherNavStyle}
            >O firmie</a
          >
          <a
            href="../oferta"
            class={current === 'oferta' ? chosenNavStyle : otherNavStyle}
            >Oferta</a
          >
          <a
            href="../referencje"
            class={current === 'referencje' ? chosenNavStyle : otherNavStyle}
            >Referencje</a
          >
          <!-- <a -->
          <!--   href="../partnerzy" -->
          <!--   class={current === 'partnerzy' ? chosenNavStyle : otherNavStyle} -->
          <!--   >Partnerzy</a -->
          <!-- > -->
          <a
            href="../kontakt"
            class={current === 'kontakt' ? chosenNavStyle : otherNavStyle}
            >Kontakt</a
          >
        </div>
      </div>
      <div
        class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0"
      >
        <!-- Language dropdown -->
        <div x-data="{open: false}" class="relative ml-3">
          <div>
            <button
              type="button"
              class="relative flex rounded-full bg-white text-sm focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
              id="user-menu-button"
              aria-expanded="false"
              aria-haspopup="true"
              @click="open = !open"
              @keydown.escape.window="open = false"
            >
              <span class="absolute -inset-1.5"></span>
              <span class="sr-only">Open user menu</span>
              <Image
                src={logoPL}
                alt="A flag of Poland"
                class="size-8 rounded-full"
              />
            </button>
          </div>

          <div
            class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black/5 focus:outline-none"
            role="menu"
            aria-orientation="vertical"
            aria-labelledby="user-menu-button"
            tabindex="-1"
            x-show="open"
            @click.away="open = false"
            x-transition:enter="transition ease-out 200"
            x-transition:enter-start="transform opacity-0 scale-95"
            x-transition:enter-end="transform opacity-100 scale-100"
            x-transition:leave="transition ease-in duration-75"
            x-transition:leave-start="transform opacity-100 scale-100"
            x-transition:leave-end="transform opacity-0 scale-95"
          >
            <!-- Active: "bg-gray-100 outline-none", Not Active: "" -->
            <a
              href="#"
              class="bg-gray-100 outline-none block px-4 py-2 text-sm text-gray-700"
              role="menuitem"
              tabindex="-1"
              id="user-menu-item-0"
              @click="open=false">Polski</a
            >
            <!-- <a -->
            <!--   href="#" -->
            <!--   class="block px-4 py-2 text-sm text-gray-700" -->
            <!--   role="menuitem" -->
            <!--   tabindex="-1" -->
            <!--   id="user-menu-item-1">Ukraiński</a -->
            <!-- > -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="sm:hidden" id="mobile-menu">
    <div class="space-y-1 pb-4 pt-2">
      <!-- Current: "bg-indigo-50 border-indigo-500 text-indigo-700", Default: "border-transparent text-gray-500 hover:bg-gray-50 hover:border-gray-300 hover:text-gray-700" -->
      <a
        href="../o-firmie"
        class="block border-l-4 border-indigo-500 bg-indigo-50 py-2 pl-3 pr-4 text-base font-medium text-indigo-700"
        >O firmie</a
      >
      <a
        href="../oferta"
        class="block border-l-4 border-transparent py-2 pl-3 pr-4 text-base font-medium text-gray-500 hover:border-gray-300 hover:bg-gray-50 hover:text-gray-700"
        >Oferta</a
      >
      <a
        href="../referencje"
        class="block border-l-4 border-transparent py-2 pl-3 pr-4 text-base font-medium text-gray-500 hover:border-gray-300 hover:bg-gray-50 hover:text-gray-700"
        >Referencje</a
      >
      <!-- <a -->
      <!--   href="../partnerzy" -->
      <!--   class="block border-l-4 border-transparent py-2 pl-3 pr-4 text-base font-medium text-gray-500 hover:border-gray-300 hover:bg-gray-50 hover:text-gray-700" -->
      <!--   >Partnerzy</a -->
      <!-- > -->
      <a
        href="../kontakt"
        class="block border-l-4 border-transparent py-2 pl-3 pr-4 text-base font-medium text-gray-500 hover:border-gray-300 hover:bg-gray-50 hover:text-gray-700"
        >Kontakt</a
      >
    </div>
  </div>
</nav>
